@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(90, 121, 223, 0.968);
}

h1 {
  text-align: center;
  margin-top: 1rem;
  color: white;
}

.weather-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-main-container {
  border-radius: 2rem;
  width: 450px;
  background: linear-gradient(135deg, #6e82f4, #3012f3);
  margin: 1rem;
}

.country-search-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.enter-country {
  width: 270px;
  height: 2rem;
  border-radius: 2rem;
  border: none;
  padding-left: 0.5rem;
  outline: none;
}

.search-icon {
  padding: 0.2rem;
  border-radius: 50%;
  border: none;
  height: 2rem;
  width: 2rem;
}

.weather-message {
  text-align: center;
  margin-bottom: 1.5rem;
}

.weather-information {
  color: white;
}

.error-mess {
  color: white;
  margin: 1rem;
}

.country-info {
  text-align: center;
  margin-top: 1rem;
}

.country {
  font-size: 1.9rem;
  font-weight: 600;
}

.country-name {
  font-size: 1.4rem;
}

.condition {
  font-size: 1.2rem;
}

.temp {
  font-size: 2.3rem;
  font-weight: 700;
  margin-top: 2rem;
}

.weather-forcast {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: start; */
  column-gap: 4rem;
  margin-top: 2.4rem;
  row-gap: 0.5rem;
  margin-left: 1.5rem;
}

.wea-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

i {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.search {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
